body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 5%;
}

h1{
    color: #333;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

